<!DOCTYPE html>
<html>
    <head>
        <title>Blod about Dota-s life</title>
    </head>
    <body>
        <div>
            <h1><a href="/">I'm lose game</a></h1>
        </div>
                aaaaa
        <br>  <br>
        <div>
            <p>published: 24.06.2022, 12:14</p>
            <h2><a href="">Anrey carry</a></h2>
            <p>We lose this game. Andrey played on Mortred</p>
        </div>


        <br>  <br>
        <div>
            <p>published: 24.06.2022, 12:16</p>
            <h2><a href="">Anrey carry</a></h2>
            <p>We lose this game. Andrey played on Naix</p>
            <p> I deleted Dota_2</p>
        </div>
    </body>
</html>